extends /_includes/layout

block title
    title Cuberto Marquee | Demo

block content

    .cb-layout#view-main
        .cb-content

            section.cb-marquee
                .cb-marquee-content
                    .cb-marquee-main
                        .cb-marquee-header
                            h1 Cuberto#[br] Marquee Effect
                        .cb-marquee-carousel.-v1
                            .cb-marquee-items
                                .cb-marquee-item
                                    img(src="/assets/img/1.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/2.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/3.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/4.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/5.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/6.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/7.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/8.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/9.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/10.jpeg", alt)
                        .cb-marquee-carousel.-v2
                            .cb-marquee-items
                                .cb-marquee-item
                                    img(src="/assets/img/5.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/4.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/2.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/3.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/1.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/6.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/7.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/8.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/9.jpeg", alt)
                                .cb-marquee-item
                                    img(src="/assets/img/10.jpeg", alt)

            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Credits
                        .cb-outro-list
                            .cb-outro-list-item: a(href="//cuberto.com/", target="_blank") Cuberto
                            .cb-outro-list-item: a(href="//greensock.com/gsap/", target="_blank") GSAP
                            .cb-outro-list-item: a(href="//github.com/idiotWu/smooth-scrollbar", target="_blank") Smooth Scrollbar
                            .cb-outro-list-item: a(href="//swiperjs.com/", target="_blank") Swiper
